<div class="row">
    <div class="col s6 offset-s3">
        <a ui-sref="home">
            <img class="logo" src="http://etf.unsa.ba/etf/css/images/etf-dugi.gif" alt="Elektrotehnički fakultet">
        </a>
    </div>
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-content">
                <form ng-submit="$ctrl.login()">
                    <div class="input-field">
                        <input type="text" id="username" placeholder="Korisničko ime" ng-model="$ctrl.user.username" required autofocus>
                        <label for="username">Korisničko ime</label>
                    </div>
                    <div class="input-field">
                        <input type="password" id="password" placeholder="Lozinka" ng-model="$ctrl.user.password" required>
                        <label for="password">Lozinka</label>
                    </div>
                    <button class="btn" type="submit">Prijavi se</button>
                </form>
            </div>
        </div>
    </div>
</div>
