

<h4>Inventurne stavke</h4>
<div class="card-panel teal lighten-5">
   <h5>Unos inventurne stavke</h5>
   <form  ng-submit="$ctrl.registerItem()" name="form" novalidate>
      <div class="row">
         <div class="input-field col s12">
            <input type="text" id="skuNumber" name="skuNumber" placeholder="Inventurni broj" ng-model="$ctrl.items.skuNumber" required>
            <label for="skuNumber">Inventurni broj</label>
            <span class="error" ng-show="form.$submitted && form.skuNumber.$error.required">Inventurni broj je obavezno polje.</span>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <input type="text" id="name" name="name" placeholder="Naziv" ng-model="$ctrl.items.name" required>
            <label for="name">Naziv</label>
            <span class="error" ng-show="form.$submitted && form.name.$error.required">Naziv je obavezno polje.</span>
            <span class="error" ng-show="form.$submitted && form.name.$error.pattern">Naziv mora imati najmanje 2 znaka, od kojih je prvo slovo, a ostali su slova ili brojevi.</span>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <input type="text" id="unesenoOd" name="unesenoOd" placeholder="Uneseno od" ng-model="$ctrl.items.purchasedBy" required>
            <label for="unesenoOd">Uneseno od</label>
            <span class="error" ng-show="form.$submitted && form.unesenoOd.$error.required">Obavezno polje.</span>
            <span class="error" ng-show="form.$submitted && form.unesenoOd.$error.pattern">Polje ne smije pocinjat brojem.</span>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <input type="text" id="odgovornaOsoba" name="odgovornaOsoba" placeholder="Odgovorna osoba" ng-model="$ctrl.items.personResponsible" required>
            <label for="odgovornaOsoba">Odgovorna osoba</label>
            <span class="error" ng-show="form.$submitted && form.odgovornaOsoba.$error.required">Obavezno polje.</span>
            <span class="error" ng-show="form.$submitted && form.odgovornaOsoba.$error.pattern">Naziv odgovorne osobe ne smije pocinjat brojem.</span>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <input type="number" step="0.01" min="0" max="9999999999999999.99" class="validate" name="value" placeholder="Vrijednost" ng-model="$ctrl.items.value" required>
            <label for="value">Vrijednost</label>
            <span class="error" ng-show="form.$submitted && form.value.$error.required">Obavezno polje.</span>
            <span class="error" ng-show="form.$submitted && form.value.$error.number">Vrijednost mora biti pozitivan broj sa najviše 16 cifara i 2 decimale.</span>
         </div>
      </div>
      <div class="row">
         <label  class="input-field col s12" for="dateOfPurchase">Datum unosa</label>
         <div class="input-field col s12">
            <input type="date" class="validate" ng-model="$ctrl.items.dateOfPurchas" name="dateOfPurchase" required >
            <span class="error" ng-show="forma.dateOfPurchase.$error.required">  *Obavezan podatak.</span>
            <span class="error" ng-show="form.input.$error.date"> Not a valid date!</span>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <select class="browser-default" required>
               <option value="" disabled selected>Mjerna jedinica</option>
               <option value="1">kom</option>
               <option value="2">kg</option>
               <option value="3">m</option>
            </select>
            <span class="error" ng-show="form.$submitted && form.$error.required">Obavezno polje.</span>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <select class="browser-default" ng-model="$ctrl.items.categoryID">
               <option value="" disabled selected>Izaberite kategoriju</option>
               <option ng-repeat="category in $ctrl.categories" value="{{ category.id }}"> {{ category.name }} </option>
            </select>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <select class="browser-default" ng-model="$ctrl.items.locationID">
               <option value="" disabled selected>Izaberite lokaciju</option>
               <option ng-repeat="location in $ctrl.locations" value="{{ location.id }}"> {{ location.name }} </option>
            </select>
         </div>
      </div>
      <br>
      <button class="btn waves-effect waves-light right"  data-ng-click="$ctrl.registerItem()" name="action"> Dodaj inventurnu stavku
      </button>
      <br><br>
   </form>
   <br><br>
</div>
</div>
<br><br>
<table class="striped responsive-table">
   <thead>
      <tr>
         <th>#</th>
         <th>Naziv</th>
         <th>Datum unosa</th>
         <th>Odgovorna osoba</th>
         <th>Uneseno od</th>
         <th>Inventurni broj</th>
         <th>Mjerna jedinica</th>
         <th>Vrijednost</th>
         <th>Kategorija</th>
         <th>Lokacija</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="item in $ctrl.items">
         <td>{{ item.id }}</td>
         <td>{{ item.name }}</td>
         <td>{{ item.dateOfPurchase }}</td>
         <td>{{ item.personResponsible }}</td>
         <td>{{ item.purchasedBy }}</td>
         <td>{{ item.skuNumber }}</td>
         <td>{{ item.unitOfMeasurement }}</td>
         <td>{{ item.value }}</td>
         <td>{{ item.category }}</td>
         <td>{{ item.location }}</td>
         <td>
            <a href="#" ng-click="$ctrl.edit(item.id)"><i class="material-icons">edit</i></a>
            <a href="#" ng-click="$ctrl.delete(item.id)"><i class="material-icons">delete</i></a>
         </td>
      </tr>
   </tbody>
</table>
<div class="right-align">
   <ul class="pagination">
      <li ng-class="{ 'disabled': $ctrl.number === 1}"><a href="#" ng-click="$ctrl.goto($ctrl.number - 1)"><i class="material-icons">chevron_left</i></a></li>
      <li ng-class="{ 'disabled': $ctrl.number === $ctrl.totalPages }"><a href="#" ng-click="$ctrl.goto($ctrl.number + 1)"><i class="material-icons">chevron_right</i></a></li>
   </ul>
</div>

