<h3 class="center">Unos inventurne stavke</h3>
<div class="row">
    <div class="col s12">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" placeholder="skuNumber" ng-model="$ctrl.itemCRD.skuNumber"> </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" placeholder="name" ng-model="$ctrl.itemCRD.name"> </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" placeholder="unitOfMeasurement" ng-model="$ctrl.itemCRD.unitOfMeasurement"> </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" placeholder="purchasedBy" ng-model="$ctrl.itemCRD.purchasedBy"> </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" placeholder="personResponsible" ng-model="$ctrl.itemCRD.personResponsible"> </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" placeholder="dateOfPurchase" ng-model="$ctrl.itemCRD.dateOfPurchase"> </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" placeholder="value" ng-model="$ctrl.itemCRD.value"> </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select class="browser-default" ng-model="$ctrl.itemCRD.categoryID">
                        <option value="" disabled selected>Izaberite kategoriju</option>
                        <option ng-repeat="category in $ctrl.categories" value="{{ category.id }}"> {{ category.name }} </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select class="browser-default" ng-model="$ctrl.itemCRD.locationID">
                        <option value="" disabled selected>Izaberite lokaciju</option>
                        <option ng-repeat="location in $ctrl.locations" value="{{ location.id }}"> {{ location.name }} </option>
                    </select>
                </div>
            </div>
            <button class="btn waves-effect waves-light right" data-ng-click="$ctrl.registerItemCRD()" name="action">Unesi</button>
        </form>
        <br>
        <br> </div>
</div>