<ul id="moj-racun" class="dropdown-content">
    <li><a ui-sref="myAccount">Izmjeni</a></li>
    <li class="divider"></li>
    <li><a ng-click="$ctrl.logout()">Odjavi se</a></li>
</ul>
<nav>
    <div class="nav-wrapper teal lighten-3">
        <a ui-sref="home" class="brand-logo">Inventura</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a ui-sref="home">Početna</a></li>
            <li><a ui-sref="accounts">Korisnici</a></li>
            <li><a ui-sref="locations">Sale</a></li>
            <li><a ui-sref="locationTypes">Tipovi sala</a></li>
            <li><a ui-sref="categories">Kategorije</a></li>
            <li><a ui-sref="status">Status</a></li>
            <li><a ui-sref="items">Inventurne stavke</a></li>
            <li><a ui-sref="items">Inventura</a></li>
            <li><a ui-sref="accessLogs">Pristupni logovi</a></li>
            <li><a ui-sref="audit">Inventura</a></li>
            <li><a class="dropdown-button" data-activates="moj-racun">Moj račun <i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="side-nav" id="nav-mobile">
            <li><a ui-sref="home">Početna</a></li>
            <li><a ui-sref="accounts">Korisnici</a></li>
            <li><a ui-sref="locations">Sale</a></li>
            <li><a ui-sref="locationTypes">Tipovi sala</a></li>
            <li><a ui-sref="categories">Kategorije</a></li>
            <li><a ui-sref="status">Status</a></li>
            <li><a ui-sref="items">Inventurne stavke</a></li>
            <li><a ui-sref="items">Inventura</a></li>
            <li><a ui-sref="accessLogs">Pristupni logovi</a></li>
            <li><a ui-sref="audit">Inventura</a></li>
            <li><a ui-sref="myAccount">Moj račun</a></li>
            <li><a ng-click="$ctrl.logout()">Odjavi se</a></li>
        </ul>
    </div>
</nav>
<script>
    $(document).ready(function() {
        $('.button-collapse').sideNav();
        $('.dropdown-button').dropdown();
    });
</script>