<div id="status-modal" class="modal">
    <form ng-submit="$ctrl.saveStatus()" name="$ctrl.form" novalidate>
        <div class="modal-content">
            <h4>{{ $ctrl.status.id ? 'Izmjene statusa' : 'Novi status' }}</h4>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="name" name="name" placeholder="Naziv" ng-model="$ctrl.status.name" ng-pattern="/^[a-z0-9\-,&\s]{2,255}$/ui" required>
                    <label for="name">Naziv</label>
                    <div class="user-errors" ng-show="$ctrl.form.$submitted">
                        <span class="error" ng-show="$ctrl.form.name.$error.required"> Naziv je obavezno polje.</span>
                        <span class="error" ng-show="$ctrl.form.name.$error.pattern">Naziv statusa mora sadržati između 2 i 255 znakova. Dozvoljena je upotreba slova, brojeva, povlake i razmaka.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="submit">Sačuvaj</button>
        </div>
    </form>
</div>

<h4>Statusi</h4>

<div class="row">
    <div class="col s7 create-btn">
        <a class="btn" ng-click="$ctrl.openModal()">Dodaj novi status</a>
    </div>
    <div class="input-field col s5">
        <i class="material-icons prefix">search</i>
        <input type="text" placeholder="Traži..." ng-model="$ctrl.searchText" ng-change="$ctrl.refresh()" ng-model-options="{ debounce: 200 }">
    </div>
</div>

<table class="striped responsive-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Naziv</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="s in $ctrl.status">
            <td>{{ s.id }}</td>
            <td>{{ s.name }}</td>
            <td>  
                <a href="#" ng-click="$ctrl.edit(s.id)"><i class="material-icons">edit</i></a>
                <a href="#" ng-click="$ctrl.delete(s.id)"><i class="material-icons">delete</i></a>
            </td>
        </tr>
    </tbody>
</table>

<div class="right-align" ng-show="!$ctrl.searchText && $ctrl.totalPages > 1">
    <ul class="pagination">
        <li ng-class="{ 'disabled': $ctrl.number === 1}"><a href="#" ng-click="$ctrl.goto($ctrl.number - 1)"><i class="material-icons">chevron_left</i></a></li>
        <li> {{ $ctrl.number }} / {{ $ctrl.totalPages }} </li>
        <li ng-class="{ 'disabled': $ctrl.number === $ctrl.totalPages }"><a href="#" ng-click="$ctrl.goto($ctrl.number + 1)"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>

