<h4>Statusi</h4>

<div class="card-panel teal lighten-5">
   <h5>Kreiranje novog statusa</h5>
   <form ng-submit="$ctrl.registerStatus()" name="$ctrl.form" novalidate>
      <div class="row">
         <div class="input-field col s12">
            <input type="text" id="naziv" name="naziv" placeholder="Naziv" ng-model="$ctrl._status.naziv" required>
            <label for="naziv">Nazive</label>
         </div>
      </div>
      <br>
      <br>
      <br>
    <button class="btn" type="submit">Kreiraj status</button>
   </form>
</div>
<div class="row">
   <div class="input-field col s5 offset-s7">
      <i class="material-icons prefix">search</i>
      <input type="text" placeholder="Traži..." ng-model="$ctrl.searchText" ng-change="$ctrl.filter()" ng-model-options="{ debounce: 200}">
   </div>
</div>

<table class="striped responsive-table">
   <thead>
      <tr>
         <th>#</th>
         <th>Naziv</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="s in $ctrl.status">
         <td>{{ s.id }}</td>
         <td>{{ s.name }}</td>
      </tr>
   </tbody>
</table>
<div class="right-align">
   <ul class="pagination">
      <li ng-class="{ 'disabled': $ctrl.number === 1}"><a href="#" ng-click="$ctrl.goto($ctrl.number - 1)"><i class="material-icons">chevron_left</i></a></li>
      <li ng-class="{ 'disabled': $ctrl.number === $ctrl.totalPages }"><a href="#" ng-click="$ctrl.goto($ctrl.number + 1)"><i class="material-icons">chevron_right</i></a></li>
   </ul>
</div>

