<div id="create-audit-modal" class="modal">
    <form ng-submit="$ctrl.createAudit()" name="$ctrl.form" novalidate>
        <div class="modal-content">
            <h4>Nova inventura</h4>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="name" name="name" placeholder="Naziv" ng-model="$ctrl.audit.name" ng-pattern="/^[a-z0-9\-\s]{4,255}$/i" required>
                    <label for="name">Naziv</label>
                    <div class="user-errors" ng-show="$ctrl.form.$submitted">
                        <span class="error" ng-show="$ctrl.form.name.$error.required">Naziv je obavezan.</span>
                        <span class="error" ng-show="$ctrl.form.name.$error.pattern">Naziv mora sadržati između 4 i 255 znakova. Dozvoljena je upotreba slova, brojeva, povlake i razmaka.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Lokacija</label>
                    <select name="location" class="browser-default" ng-model="$ctrl.audit.location" ng-options="location.name for location in $ctrl.locations track by location.id" required>
                        <option value="">Odaberite lokaciju</option>
                    </select>
                    <div class="user-errors" ng-show="$ctrl.form.$submitted">
                        <span class="error" ng-show="$ctrl.form.location.$error.required">Lokacija inventure je obavezna.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="submit">Sačuvaj</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s6">
        <h4>Inventure</h4>
    </div>
    <div class="col s6 create-audit-btn right-align"  show-for-role="ROLE_ADMIN, ROLE_AUDITTEAM">
        <button class="btn" type="button" ng-click="$ctrl.openModal()">Kreiraj inventuru</button>
    </div>
</div>

<table class="striped responsive-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>Korisnik</th>
            <th>Lokacija</th>
            <th>Kreirano</th>
            <th>Završeno?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="audit in $ctrl.audits">
            <td>{{ audit.id }}</td>
            <td>{{ audit.name }}</td>
            <td>{{ audit.account.fullName }}</td>
            <td>{{ audit.location.name }}</td>
            <td>{{ audit.createdAt | date: 'dd.MM.yyyy.' }}</td>
            <td>{{ audit.finished | intToBool }}</td>
            <td>
                <a ui-sref="doAudit({auditID: audit.id})" ng-show="!audit.finished" show-for-role="ROLE_ADMIN, ROLE_AUDITTEAM">
                   <span class="material-icons">toc</span>
                </a>
                <a href="#" ng-show="!audit.finished" ng-click="$ctrl.delete(audit.id)" show-for-role="ROLE_ADMIN, ROLE_AUDITTEAM">
                    <span class="material-icons">delete</span>
                </a>
                <a href="#" ng-click="$ctrl.generateReport(audit.id)" show-for-role="ROLE_ADMIN, ROLE_FINANCE">
                    <span class="material-icons">file_download</span> 
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="right-align">
    <ul class="pagination">
        <li ng-class="{ 'disabled': $ctrl.number === 1}"><a href="#" ng-click="$ctrl.goto($ctrl.number - 1)"><i class="material-icons">chevron_left</i></a></li>
        <li ng-class="{ 'disabled': $ctrl.number === $ctrl.totalPages }"><a href="#" ng-click="$ctrl.goto($ctrl.number + 1)"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>

