<h3>Korisnički računi</h3>
<br>
<div class="card-panel teal lighten-5">
	<div class="row">
		<form  class="col s12" name="forma">
			<h5>Registracija korisnika</h5>
	      	<div class="input-field col s12">
	      	 	<label for="name">Ime i prezime</label>
		        <input type="text" class="validate" placeholder="Ime i prezime" ng-model="$ctrl.account.fullName" ng-pattern="/^[a-zA,\&\s]{5,40}$/" name="name" required>
				<span style="color:red" ng-show="forma.name.$error.required">  *Obavezan podatak.</span>
            	<span style="color:red" ng-show="forma.name.$error.pattern"> *Nevalidan format.</span>
			</div>
			
		   	<div class="input-field col s12">
		   		<label for="username">Username</label>
		       	<input type="text" class="validate" ng-model="$ctrl.account.username" 	ng-pattern="/^[a-zA-Z0-9-,\&\s]{5,40}$/" name="username" required>
		    	<span style="color:red" ng-show="forma.username.$error.required">  *Obavezan podatak.</span>
            	<span style="color:red" ng-show="forma.username.$error.pattern"> *Nevalidan format.</span>
		    </div>
		   
		 	<div class="input-field col s12">
		 		<label for="email">Email</label>
		        <input type="email" class="validate" ng-model="$ctrl.account.email"	ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" name="email" required>
		    	<span style="color:red" ng-show="forma.email.$error.required">  *Obavezan podatak.</span>
            	<span style="color:red" ng-show="forma.email.$error.pattern"> *Nevalidan format.</span>
		    </div>

	
		    <div class="input-field col s12">
		    	<label for="password">Password</label>
		       	<input type="password" class="validate" ng-model="$ctrl.account.password"	
		       	ng-pattern="/^[a-zA-Z0-9-,\&\s]{5,40}$/" name="password" required>
		    	<span style="color:red" ng-show="forma.password.$error.required">  *Obavezan podatak.</span>
            	<span style="color:red" ng-show="forma.password.$error.pattern"> *Nevalidan format.</span>
		    </div>
			<div class="row">
	     		<div class="input-field col s12">
	                <select class="browser-default">
				        <option value="" disabled selected>Izaberite rolu</option>
	                    <option value="1">Admin</option>
				    	<option value="2">Tim koji obavlja inventuru</option>
				    	<option value="3">Finansijska služba</option>
	                </select>
	            </div>
	        </div>
			<br>
			<button class="btn waves-effect waves-light right"  data-ng-click="$ctrl.registerAccount()" name="action">Registruj korisnika
			</button>
			<br><br>
		</form>
	<br><br>
	</div>
</div>
<div class="row">
		<h5>Lista korisnika</h5>
			<div class="row">
			   <div class="col s2">
			      <h5>Pretraga:</h5>
			   </div>
			   <div class="col s10">
			      <input type="text" class="validate" placeholder="Pojam" ng-model="searchText" ng-change="$ctrl.filter(this.searchText)" ng-model-options="{ debounce:200 }"> 
			   </div>
	        </div>
		<table class="striped">
			<tr>
				<th>#</th>
				<th>Ime i prezime</th>
				<th>Korisničko ime</th>
				<th>Email</th>
				<th>Rola</th>
				<th>Akcija</th>
			</tr>
			<tr ng-repeat="account in $ctrl.accounts">
				<td>1</td>
				<td>{{ account.fullName }}</td>
				<td>{{ account.username }}</td>
				<td>{{ account.email }}</td>
				<td>{{ account.role.id }}</td>
				<td>  
					<button type="button" ng-click="ctrl.edit(account.id)" class="btn btn-success custom-width">Promijeni</button>  
					<button type="button" ng-click="ctrl.remove(account.id)" class="btn btn-danger custom-width">Izbriš</button>
				</td>
			</tr>
		</table>
		<div class="center">Page: <strong>{{$ctrl.number}}</strong>
			
			<button class="pageBtn" ng-click="$ctrl.goto(1)" ng-disabled="$ctrl.number == 1"> << </button>
			<button class="pageBtn" ng-click="$ctrl.goto($ctrl.number-1)" ng-disabled="$ctrl.number <= 1"> < </button>
			<snap ng-click="$ctrl.goto(page)" ng-show="$ctrl.number !=1" ng-repeat="page in $ctrl.totalPages">
				<button class="pageBtn" ng-if="$ctrl.number!=$ctrl.totalPages.length && page >= $ctrl.number -1 && page <= $ctrl.number +1" ng-disabled="$ctrl.number == page">{{page}}</button>
			</snap>	
			<snap ng-click="$ctrl.goto(page)" ng-show="$ctrl.number !=1" ng-repeat="page in $ctrl.totalPages">
			<button class="pageBtn" ng-if="$ctrl.number==$ctrl.totalPages.length && page >= $ctrl.number -2 && page <= $ctrl.number +1" ng-disabled="$ctrl.number == page">{{page}}</button>
			</snap>
			<snap ng-click="$ctrl.goto(page)" ng-show="$ctrl.number ==1" ng-repeat="page in $ctrl.totalPages">
				<button class="pageBtn" class="pageBtn" ng-if="page >= $ctrl.number -1 && page <= $ctrl.number +2" ng-disabled="$ctrl.number == page">{{page}}</button>
			</snap>
			<button class="pageBtn" ng-click="$ctrl.goto($ctrl.number+1)" ng-disabled="$ctrl.number > $ctrl.totalPages.length-1"> > </button>
			<button class="pageBtn" ng-click="$ctrl.goto($ctrl.totalPages.length)" ng-disabled="$ctrl.totalPages.length==0 || $ctrl.number == $ctrl.totalPages.length"> >> </button>
		</div>
</div>

